body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.divider {
  flex: 0.2%;
  border-left: #dfdfdf dashed;
  height: 100vh;
}

.left-pane, .right-pane {
  flex: 49.9%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.card {
  display: block;
  /*width: inherit;*/
  padding: 10px;
  margin: 5%;
  border: 1px solid black;
}

.card:hover {
  background-color: black;
}

.code-content {
  display: none;
  position: absolute;
  width: 49.9%;
  height: 100vh;
  background-color: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.title-pane {
  display: flex;
  justify-content: space-between;
  font-size: 20pt;
}

.title-pane > .title {
  padding: 10px;
}

.title-pane > .close-button {
  padding: 10px;
}
